{#{% extends 'base.html.twig' %} User password changes#}
{#{% extends 'home1.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}
{% block row_x_title %}{% endblock %}
{% block body %}
    <div class="container">
        <h1>Modification du mot de passe</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>

        {{ form_end(form) }}
    </div>

{% endblock %}#}

{% extends 'home1.html.twig' %}

{% block title %}User password modification {% endblock %}
{# {% block row_x_title %}{% endblock %} Modification du profil utilisateur #}
{% block pickDate %}{% endblock %}
{% block pageTitle %}                            
    <h4 class="page-title mb-2"><i class="mdi mdi-pencil mr-2"></i>User Password Modification</h4>                              
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">        
                    <h4 class="mt-0 header-title"></h4>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary" id="saveBtn">
                        <span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span>
                        <i class="fas fa-save mr-2"></i>Save changes
                    </button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}

{% block javascripts %}
    <script>
        var newPassword = $('#password_update_newPassword');
        var confirmPassword = $('#password_update_confirmPassword');
        console.log('newPassword type : ' + jQuery.type(newPassword.val()))
        newPassword.on('input', function() { 
            //console.log($(this).val()); // get the current value of the input field.
            if( $(this).val() === confirmPassword.val() ){
                confirmPassword.removeClass("is-invalid");
                confirmPassword.addClass("is-valid");
                
            }
            else{
                confirmPassword.removeClass("is-valid");
                confirmPassword.addClass("is-invalid");
            }
        });


        confirmPassword.on('input', function() { 
            //console.log($(this).val()); // get the current value of the input field.
            if( $(this).val() === newPassword.val() ){
                confirmPassword.removeClass("is-invalid");
                confirmPassword.addClass("is-valid");
                
            }
            else{
                confirmPassword.removeClass("is-valid");
                confirmPassword.addClass("is-invalid");
            }
        });

        $('#saveBtn').click(function(){
            //block of code that runs when the click event triggers
            $(this).children('i').addClass('d-none');
            $(this).children('span').removeClass('d-none');
            //$('#saveBtn').prop('disabled', true);
        });
    </script>
{% endblock %}