{% block _site_smartMods_widget %}

    <p>Ajouter et supprimer les modules !</p>
    
    {{form_widget(form)}}

    <input type="hidden" id="widgets-count">
    <div class="form-group">
        <button type="button" id="add-smartMod" class="btn btn-primary ">
            <i class="fas fa-plus-circle"></i>
            Ajouter !
        </button>
    </div>
{% endblock %}

{% block _site_smartMods_entry_row %}
    {{form_widget(form)}}
{% endblock %} 

{% block _site_smartMods_entry_widget %}
    <div class="form-group" id = "block_{{id}}">
        <div class="row align-items-center">
            <div class="col-10">
                <div class="row ">
                    <div class="col">
                        {{ form_label(form.moduleId) }}
                        {{ form_widget(form.moduleId) }}
                        {{ form_errors(form.moduleId) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.modName) }}
                        {{ form_widget(form.modName) }}
                        {{ form_errors(form.modName) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.installationType) }}
                        {{ form_widget(form.installationType) }}
                        {{ form_errors(form.installationType) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.modType) }}
                        {{ form_widget(form.modType) }}
                        {{ form_errors(form.modType) }}
                    </div>
                </div>
            </div>
            <div class="col-2 mt-3">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="mt-4 btn btn-danger">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
    </div>

{% endblock %}