{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de Bord Admin{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% set percent = 0 %}
        <!-- Small Box (Stat card) -->
        <h5 class="mb-2 mt-4">Web site Statistics</h5>
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small card -->
                <div class="small-box bg-warning">
                  <div class="inner">
                      <h3>{{stats.nbusers}}</h3>
                      <p>Utilisateurs</p>
                  </div>
                  <div class="icon">
                      <i class="fas fa-user-plus"></i>
                  </div>
                  <a href="{{ path('admin_user1_index') }}" class="small-box-footer">
                      More info <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
            </div>
            <!-- ./col -->
          
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{stats.nbsites}}</h3>

                <p>Sites</p>
              </div>
              <div class="icon">
                <i class="fa fa-sitemap"></i>
              </div>
              <a href="{{ path('admin_sites_index') }}" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>{{stats.nbmod}}</h3>

                <p>Total Modules</p>
              </div>
              <div class="icon">
                <i class="fas fa-equals"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <div class="row text-center">
                    <div class="col ">
                        <h3>{{stats.nbgrid}}</h3>
                        <p>GRID Modules</p>
                    </div>
                    <div class="col">
                        {% set percent = (stats.nbgrid / stats.nbmod) * 100 %}
                        <h3><small>{{  percent|number_format(1, '.', ' ') }}<sup style="font-size: 20px">%</sup></small></h3>
                        <p>Total Modules</p>
                    </div>
                </div>                
              </div>
              <div class="icon">
                <i class="fas fa-plug"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
                <div class="row text-center">
                    <div class="col ">
                        <h3>{{stats.nbfuel}}</h3>
                        <p>FUEL Modules</p>
                    </div>
                    <div class="col">
                        {% set percent = (stats.nbfuel / stats.nbmod) * 100 %}
                        <h3><small>{{  percent|number_format(1, '.', ' ') }}<sup style="font-size: 20px">%</sup></small></h3>
                        <p>Total Modules</p>
                    </div>
                </div>
              </div>
              <div class="icon">
                <i class="fas fa-gas-pump"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->

        </div>
        <!-- /.row -->

        <!--
        <div class="row">
            <div class="col-md-6 col-6">
                !-- USERS LIST --
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Latest Users</h3>

                    <div class="card-tools">
                        <span class="badge badge-danger">8 New Users</span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                    </div>
                    !-- /.card-header --
                    <div class="card-body p-0">
                    <ul class="users-list clearfix">
                        <li>
                        <img src="dist/img/user1-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Alexander Pierce</a>
                        <span class="users-list-date">Today</span>
                        </li>
                        <li>
                        <img src="dist/img/user8-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Norman</a>
                        <span class="users-list-date">Yesterday</span>
                        </li>
                        <li>
                        <img src="dist/img/user7-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Jane</a>
                        <span class="users-list-date">12 Jan</span>
                        </li>
                        <li>
                        <img src="dist/img/user6-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">John</a>
                        <span class="users-list-date">12 Jan</span>
                        </li>
                        <li>
                        <img src="dist/img/user2-160x160.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Alexander</a>
                        <span class="users-list-date">13 Jan</span>
                        </li>
                        <li>
                        <img src="dist/img/user5-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Sarah</a>
                        <span class="users-list-date">14 Jan</span>
                        </li>
                        <li>
                        <img src="dist/img/user4-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Nora</a>
                        <span class="users-list-date">15 Jan</span>
                        </li>
                        <li>
                        <img src="dist/img/user3-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Nadia</a>
                        <span class="users-list-date">15 Jan</span>
                        </li>
                    </ul>
                    !-- /.users-list --
                    </div>
                    !-- /.card-body --
                    <div class="card-footer text-center">
                    <a href="javascript::">View All Users</a>
                    </div>
                    !-- /.card-footer --
                </div>
                !--/.card --
            </div>
            !-- /.col --
        </div>
        -->

    </div>
{% endblock %}
